<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source = DESKTOP-3CQ6S32; Initial Catalog = HowlOfADog; Integrated Security = true"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="parentTableName" value="Cages"/>
		<add key="childTableName" value="Animals"/>
	</appSettings>
</configuration>